<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AppProva</title>
</head>
<body>
  <h1 class="text-info text-center">Cadastro de aluno</h1>
  <%= form_for Aluno.new do |f| %>
    <div class="form-group">
      <label>Nome do Aluno</label>
      <input class="form-control" type="text" name="aluno[nome_aluno]">
    </div>
    <div class="form-group">
      <label>Nota</label>
      <input class="form-control" type="number" name="aluno[nota_aluno]" step="0.01">
    </div>
    <div class="form-group">
      <label>Instituição</label>
      <%= f.collection_select :instituicao_id, @resultados, :id, :nome_instituicao, {}, class: "form-control" %>
    </div>
    <div class="form-group">
      <label>Curso</label>
     <input class="form-control" type="text" name="aluno[curso]">
    </div>
    <%= link_to "Cancelar", root_url, class: "btn btn-warning" %>
    <button class="btn btn-success" type="submit">Salvar</button>
  <% end %>
</body>
</html>